* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

main {
    /* border: 1px solid rebeccapurple; */
    height: 100vh;
    display: grid;
    place-items: center;
}

.survey-form h1 {
    text-align: center;
}

.survey-form {
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 1rem;
    height: 80%;
    width: 35vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.form-element.input-name {
    display: flex;
    justify-content: space-between;
}
input, select {
    margin-left: 1rem;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.form-buttons input {
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    padding: 0.6rem 1rem;
    background-color: lightblue;
}